* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  
  font-weight: 800;
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 80px;
    margin: 0 0 60px;
}

#calculator {
  width: 550px;
  height: 500px;;
  margin: 50px auto 0 auto;
  background: rgba(19, 35, 47, 0.9);
  border-radius: 2px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  padding: 10px 10px 260px 10px;
  
 
}

.result {
  width: 410px;
  height: 40px;
  float: left;
  line-height: 40px;
  background-color: #fff;
  color: #000000;
  margin: 5px;
}

.result > p {
  margin-right: 15px;
  text-align: right;
}

.clear, button {
  height: 40px;
  border-bottom: 3px solid grey;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 30px;
  color: #2c3e50;
  margin: 5px;  
  background: #1ab188;
  color: #ffffff;
} 

.button1 {
    background-color: cornflowerblue;
    color: white;
}

.clear {
  width: 95px;
  float: left;
  background-color: #c0392b;
  color: #fff;
	border-color: #A63125;
}

  .clear:hover {
    background-color: #D6523C;
  }

button {
  float: left;
  width: 95px;
}

  button:hover {
    background-color: #5D5958;
  } 

.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}